@import url('http://allfont.ru/allfont.css?fonts=montserrat');
@font-face {
  font-family: 'GulimChe';
  src: url('./font/GulimChe.ttf')  format('truetype'),
       url('./font/GulimChe.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  background-image: url('../../img/site5/bg.png');
  background-size: cover;
  background-position: left bottom;
  background-attachment: fixed;
}

a {
  font-family: "Montserrat";
  color: white;
}

nav, .slide-bar, .tag-bar   {
  width: 100%;
  height: 36px;
  background-color: rgba(255, 255, 255, 0.14);
}

nav {
  display: inline;
  position: absolute;
  padding-top: 5px;
}

.nav-right {
  float: right;
  margin-right: 20px;
}

.nav-left {
  margin-left: 20px;
}

.slide-bar, .tag-bar {
  display: flex;
  position: absolute;
  margin-top:41px;
  justify-content: center;
  flex-wrap: wrap;
  height: auto;
  padding-bottom: 20px;
  z-index: 1;
}

.tag-bar a {
  font-size: 12pt!important;
  padding-right: 10px;
  text-transform: uppercase;
}

i.my {
  margin-top: 11px;
  color: white;
  font-size: 5pt;
  padding-right: 13px;
  padding-left: 13px;
}

nav a, .slide-bar a, .tag-bar a {
  font-size: 17pt;
  text-decoration-color: transparent;
  transition: 0.5s;
  float: left;
}

nav a:hover ,.slide-bar a:hover, .tag-bar a:hover {
  text-decoration-color: white;
}



.my-container {
  width: 100%;
  height: 100%;

  padding: 0;
  margin: 0;
}

.logo {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logo h1 {
  font-size: 62pt;
  color: white;
  font-family: "GulimChe";
  animation: shine 0.5s linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  margin-bottom: 10px;
}

.logo small {
  color: white;
  font-family: "GulimChe";
  font-size: 10pt;
  font-weight: bold;
  letter-spacing: 13px;
  text-align: center;
}

.article-container {
  display: flex;
  justify-content: center;
}

article.contant {
  display: none;
  position:absolute;
  margin-top: 101px;
  width: 50%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.34);
}

.contant img {
  width: 100%;
  opacity: 0.8;
}

.contant p {
  font-family: Calibri;
  color: white;
  font-size: 14pt;
  margin: 15px;
}

.hidde-gallery {
  display: none;
}

.gallery-container {
  display: flex;
  justify-content: center;
}

.gallery {
  position:absolute;
  display: flex;
  flex-wrap: wrap;
  margin-top: 55px;
  background-color: rgba(0, 0, 0, 0.34);
  width: 80%;
  justify-content: space-between;
}

.gallery .hidde {
  margin: 10px;
  overflow: hidden;
}

.gallery img {
  width: 100%;
  height: 223px;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
  transform: scale3d(1,1,1);
}

.gallery img:hover {
  opacity: 1;
  transform: scale3d(1.1,1.1,1.1);
}

.gallery div {
  text-align: center;
}

.gallery p {
  font-family: Calibri;
  margin: 0;
  color: white;
}

@keyframes shine {
  0% {
    text-shadow: 0 0 0px white;
  }
  100% {
    text-shadow: 0 0 5px white;
  }
}

@media screen and (max-width: 949px) {
  article.contant {
    margin-top: 53px;
    height: auto;
    width: 70%;
  }
}

@media screen and (max-width: 685px) {
  article.contant {
    margin-top: 41px;
    height: auto;
    width: 94%;
  }
}

@media screen and (max-width: 502px) {
  article.contant {
    margin-top: 43px;
  }
}

@media screen and (max-width: 414px) {
  article.contant {
    width: 100%;
  }
}
