<!DOCTYPE html>
<html lang="en">
<head>
  <title>SerjRide Portfolio</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="description" content="SerjRide Portfolio" />
  <meta name="keywords" content="SerjRide Portfolio" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="../../img/favicon.ico"
    rel="shortcut icon"
    type="image/x-icon" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/mdb.min.css" rel="stylesheet">
  <link href="./index.css" rel="stylesheet">
  <link href="css/addons/datatables.min.css" rel="stylesheet">
  <link rel="stylesheet"
    href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
</head>
<body class="my-bg">

  <header>

    <div class="sidebar-fixed position-fixed">
      <a href="#" class="logo-wrapper">
        <img src="./img/logo.png"
          alt="logo" class="img-fluid">
      </a>

      <div class="list-group list-group-flush">
        <a href="#" class="nav-link waves-effect btn-dash">
          <i class="fas fa-chart-pie"></i> Dashbord
        </a>
        <a href="#" class="nav-link waves-effect btn-tables">
          <i class="fas fa-table"></i> Tables
        </a>
        <a class="nav-link waves-effect" target="_blank"
          href="https://github.com/SerjRide/serjride.github.io/tree/master/components/site%206" >
          <i class="fab fa-github"></i> GitHub
        </a>
        <a id="maps" href="#" class="nav-link waves-effect disabled">
          <i class="fas fa-map-marker-alt"></i> Maps
        </a>
        <a id="orders" href="#" class="nav-link waves-effect disabled">
          <i class="fas fa-dollar-sign"></i> Orders
        </a>
      </div>

    </div>

    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a id="home" class="nav-link my" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a id="about" class="nav-link my" href="#">About Us</a>
            </li>
            <li class="nav-item">
              <a id="news" class="nav-link my" href="#">News</a>
            </li>
            <li class="nav-item">
              <a id="contact" class="nav-link my" href="#">Contact</a>
            </li>
            <li id="media-1" class="nav-item">
              <a class="nav-link my btn-dash" href="#">Dashbord</a>
            </li>
            <li id="media-2" class="nav-item">
              <a class="nav-link my btn-tables" href="#">Tables</a>
            </li>
            <li id="media-3" class="nav-item">
              <a class="nav-link my btn-tables" target="_blank"
                href="https://github.com/SerjRide/serjride.github.io/tree/master/components/site%206">
                GitHub
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

  </header>

  <article><div class="content"></div></article>

  <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="js/popper.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script
    src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js">
  </script>
  <script
    src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js">
  </script>
  <script src='./index.js'></script>
  <script type="text/javascript" src="js/mdb.js"></script>
  <script type="text/javascript" src="js/addons/datatables.min.js"></script>
</body>

</html>
