@import url('https://fonts.googleapis.com/css?family=Roboto:300');
@import url('https://fonts.googleapis.com/css?family=Roboto:900');
#import-nav{
  width: 100%;
  position: fixed;
  opacity: 0;
  transition: 1s;
}
.navbar {
  opacity: 0;
  transition: 1s;
}
#import-nav:hover {
  opacity: 1;
}
.navbar:hover {
  opacity: 1;
}
body {
  font-family:'Roboto'!important;
}
.row-1 {
  display: flex;
  flex-wrap:nowrap;
}
  .row-1 .left ul {
    display: flex;
    /* border:solid 1px yellow; */
    width: auto;
    flex-wrap: wrap;
  }
  .row-1 .left {
    /* border: solid 1px green; */
    width: 75%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 0px;
  }
  .row-1 .left ul {
    margin-top: 15px;
    margin-bottom: 0px;
  }
  .row-1 .left ul li {
    list-style-type: none;
    font-size: 12pt;
    padding-left: 20px;
  }
  .row-1 .left ul li i {
    font-size: 12pt;
  }
  .right ul {
    display: flex;
    /* border:solid 1px yellow; */
    width: auto;
    flex-wrap: wrap;
  }
  .row-1 .right {
    /* border: solid 1px green; */
    width: 25%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-end;
    padding: 0px;
  }
  .row-1 .right ul {
    margin-top: 15px;
    margin-bottom: 0px;
    margin-right: 30px;
  }
  .row-1 .right ul li {
    padding-right: 20px;
    list-style-type: none;
    font-size: 14pt;
  }
  .row-1 .right ul li i {
    font-size: 16pt;
  }
  .img-sr {
    width:55px;
  }
  .row-1 .right ul li a {
    font-size: 12pt;
    padding-right: 13px;
    text-decoration: underline;
    text-decoration-color: white;
    transition: 0.3s;
  }
  .row-1 .right ul li a:hover {
    text-decoration-color: black;
  }
  .conf1 {
    height: 200px;;
  }

.row-2 {
  display: flex;
  flex-wrap:nowrap;
}
  .row-2 .left {
    /* border: solid 1px green; */
    width: 10%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 0px;
  }
  .row-2 .left ul li {
    list-style-type: none;
    font-size: 12pt;
    padding-left: 20px;
  }
  .row-2 .left ul {
    margin-top: 15px;
    margin-bottom: 0px;
  }
  .row-2 .left ul li i {
    font-size: 12pt;
  }
  .row-2 .right {
    /* border: solid 1px green; */
    width: 90%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-end;
    padding: 0px;
  }
  .row-2 .right ul {
    margin-top: 15px;
    margin-bottom: 0px;
    margin-right: 30px;
  }
  .row-2 .right ul li {
    padding-right: 20px;
    list-style-type: none;
    font-size: 14pt;
  }
  .row-2 .right ul li i {
    font-size: 16pt;
  }
  .row-2 .right ul li a {
    font-size: 12pt;
    padding-right: 13px;
    text-decoration: underline;
    text-decoration-color: white;
    transition: 0.3s;
  }
  .row-2 .right ul li a:hover {
    text-decoration-color: black;
  }
.row-3 {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px ;
  /* border: solid 1px red; */
}
.bg-1{
  background: url(../../img/site5/bg1.png) no-repeat;
  background-size:cover;
  background-position: center;
  width: 100%;
  height: 400px;
}
  .row-3 h4 {
    font-size: 20px;
  }
  .row-3 h1 {
    font-weight: bold;
  }
  .row-3 p {
    /* border: solid 1px red; */
    font-family:'Roboto'!important;
    text-align: center;
    width: 40%
  }
  .row-4 {
    display: flex;
    width: 100%;
    height: 800px;
    /* border: solid 1px red; */
  }
  .row-4 .left {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    align-items: center;
    /* border: solid 1px green; */
    width: 50%;
  }
  .row-4 .left img {
    width:400px;
  }
  .row-4 .right {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 80px;
    /* border: solid 1px blue; */
    width: 500px;
  }
  .row-4 .right h2 {
    width:400px;
    font-size: 30pt;
    font-weight: bold;
    letter-spacing: 2!imp ortant;
  }
  .row-4 .right p {
    font-family:'Roboto'!important;
    font-weight: lighter;
  }
  .row-4 .right a {
    text-align: center;
    border: solid 1px black;
    padding: 2% 2% 2% 2%;
    width: 40%;
    transition: 0.4s;
  }
  .row-4 .right a:hover {
    background-color: black;
    color:white;
  }
  .row-5 {
    display: flex;
    background-color: #ECECEC;
    width: 100%;
    height: auto;
    /* border: solid 1px red; */
  }
    .row-5 .top {
      display: flex;
      flex-flow: column;
      align-items: center;
      width: 100%;
      padding-top: 50px;
      /* border: solid 1px red; */
    }
    .row-5 .top h2 {
      font-family:'Roboto'!important;
      font-weight: bold;
      font-size: 30pt;
      letter-spacing: 5px!important;
    }
    .row-5 .top p {
      font-family:'Roboto'!important;
      font-weight: lighter;
      text-align: center;
      width: 600px;
      margin-bottom: 80px;
    }
    .row-5 .top div.grid {
      display: grid;
      grid-template-columns: repeat(3,350px);
      grid-template-rows: 250px;
      grid-gap: 10px;
      justify-content: space-between;
      width: 1140px;
      padding-top: 80px;
      padding-bottom: 80px;
    }
    .row-5 .top div.grid div {
      box-shadow: 2px 2px 2px #CFCFCF;
      background-color: white;
    }
    .row-5 .top div.grid div h3 {
      font-family:'Roboto'!important;
      font-weight: bold;
      /* border: solid 1px red; */
      letter-spacing: 1px!important;
      margin-bottom: 20px;
      margin-top: 35px;
      padding: 0 35px 0 35px;
    }
    .row-5 .top div.grid div p {
      font-family:'Roboto'!important;
      font-weight: lighter;
      /* border: solid 1px red; */
      text-align: left;
      width: auto;
      padding: 0 35px 0 35px;
    }
    .row-5 .top a {
      text-align: center;
      border: solid 1px black;
      padding: 9px 5px 5px 5px;
      width: 168px;
      height: 42px;
      transition: 0.4s;
      background-color:black;
      color: white;
      margin-bottom: 50px;
    }
    .row-5 .top a:hover {
      background-color:transparent;
      color:black;
    }
    .row-6 {
      display: flex;
      width: 100%;
      height: auto;
      flex-flow: column;
      align-items: center;
      /* border: solid 1px red; */
      padding-top: 50px;
      padding-bottom: 0px;
    }
    .row-6 h2 {
      font-family:'Roboto'!important;
      font-weight: bold;
      letter-spacing: 1px!important;
      font-size: 30pt;
    }
    .row-6 p {
      font-family:'Roboto'!important;
      font-weight: lighter;
      text-align: center;
      width: 600px;
      margin-bottom: 80px;
    }
    .row-6 .grid {
      display: grid;
      grid-template-columns: repeat(4,226px);
      grid-template-rows: 226px;
      grid-gap: 10px;
      margin-bottom: 50px;
    }
    .row-6 .grid .img {
      /* background-color: black; */
      width: 226px;
      height: 226px;
      overflow: hidden;
      position: relative;
    }
    .row-6 .grid .img span {
      position: absolute;
      top: 0;
      left:0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.5);
      color: white;
      font-size: 20pt;
      padding-top: 100px;
      text-align: center;
      opacity: 0;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
    }
    .row-6 .grid .img span:hover {
      opacity: 1;
    }
    .row-6 .grid .img img {
      display:block;
      margin:auto;
    }
    .row-6 a {
      text-align: center;
      border: solid 1px black;
      padding: 9px 5px 5px 5px;
      width: 168px;
      height: 42px;
      transition: 0.4s;
      background-color:black;
      color: white;
      margin-bottom: 50px;
    }
    .row-6 a:hover {
      background-color:transparent;
      color:black;
    }
  .bg-2{
    background: url(../../img/site5/bg1.png) no-repeat;
    background-size:auto;
    background-position:center;
    background-attachment: fixed;
    width: 100%;
    height: 200px;
  }
  .row-7 {
    display: flex;
    width: 100%;
    height: auto;
    flex-flow: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 0px;
  }
  .row-7 h2 {
    font-family:'Roboto'!important;
    font-weight: bold;
    letter-spacing: 1px!important;
    font-size: 20pt;
    margin:5px 0px 5px 0px;
  }
  .row-7 p {
    font-family:'Roboto'!important;
    font-weight: lighter;
    text-align: center;
    width: 600px;
    margin-bottom: 80px;
  }
  .row-9 {
    display: flex;
    width: 100%;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    /* border: solid 1px green; */
  }
  .row-9 .left {
    display: flex;
    justify-content: flex-end;
    padding-right: 40px;
    padding-left: 40px;
    align-items: center;
    width: 50%;
    /* border: solid 1px red; */
  }
  .row-9 .left .currentPanel {
    box-shadow: 0 0 2px #CFCFCF;
    padding: 60px;
    width: 550px;
  }
  .row-9 .left .currentPanel input {
    border-radius: 0px;
    margin-bottom: 20px;
    padding-left: 20px;
  }
  .row-9 .left .currentPanel input:focus {
    border-radius: 0px;
    margin-bottom: 20px;
    border: solid 1px black;
    box-shadow: 0 0 0 black;
  }
  .row-9 .left .currentPanel textarea {
    border-radius: 0px;
    margin-bottom: 20px;
    resize: none;
    height: 200px;
    padding-left: 20px;
  }
  .row-9 .left .currentPanel textarea:focus {
    border: solid 1px black;
    box-shadow: 0 0 0 black;
  }
  .row-9 .right {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 80px;
    /* border: solid 1px blue; */
    width: 500px;
  }
  .row-9 .left .currentPanel i.fas {
    width: 26px;
    height: 26px;
    line-height: 38px;
    text-align: center;
    margin-right: -26px;
    position: relative;
    z-index: 1;
    float: left;
    font-size: 5pt;
  }
  .row-9 .left .currentPanel i.currentP {
      line-height: 22px;
  }
  .row-9 .left .currentPanel p {
    padding-left: 20px;
    font-family:'Roboto'!important;
    font-weight: lighter;
    color: #828282;
    padding-bottom: 20px;
  }
  .row-9 a {
    text-align: center;
    /* border: solid 1px black; */
    padding: 12px 12px 12px 12px;
    width: 168px;
    height: 42px;
    transition: 0.4s;
    background-color:black;
    color: white;
    margin-bottom: 0px;
  }
  .row-9 a:hover {
    background-color:transparent;
    color:black;
  }
  .row-9 .right h2 {
    width:400px;
    font-size: 28pt;
    font-weight: bold;
    letter-spacing: 1!important;
  }
  .row-9 .right p {
    font-family:'Roboto'!important;
    font-weight: lighter;
    font-size: 14pt;
  }
  .row-9 .right h4 {
    font-family:'Roboto'!important;
    font-weight: lighter;
    font-size: 12pt;
    padding-top: 10px;
  }
  iframe {
    width:100% ;
    height:450 ;
  }
  .row-10 {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100px;
    align-items: center;
    padding-top: 11px;
    padding-bottom: 50px;
  }
    .row-10 .social {
      font-size: 16pt;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .row-10 .social i {
      transition: 0.5s;
      cursor: pointer;
    }
    .row-10 .social i:hover {
      color:#528CDA;
      transform: translate(0,-2px);
    }
    .row-10 footer {
      padding: 0px;
      margin-top: 0px;
      margin-bottom: 0px;
      font-family:'Roboto'!important;
      font-weight: lighter;
      font-size: 10pt;
    }
